<header class="top">
  <nav class="nav ">
    <ul class="nav__section nav__section--pages">
      <li class=" nav__item ">
        <a href="/ " class="nav__link ">
         store
        </a>
      </li>
      <li class="nav__item ">
        <a href="/magasins/add " class="nav__link ">
          add
        </a>
      </li>
      <li class="nav__item ">
        <a href="/about " class="nav__link ">About</a>
      </li>
      <li class="nav__item ">
        <a href="/contact " class="nav__link ">Contact</a>
      </li>
    </ul>
    <ul class="nav__section nav__section--user">
      <li class="nav__item ">
        <a href="/register " class="nav__link ">Register</a>
      </li>
     
      <li class="nav__item ">
        <a href="/login" class="nav__link ">Login</a>
      </li>

    </ul>
  </nav>
</header>