<h1 class="title">Magasins</h1>
<div class="stores">
    {{#each magasins as |magasin|}}
    <div class="store store__hero">
        <a href="/magasins/{{magasin.slug}}">
        <img src="/uploads/{{magasin.photo}}" alt="{{magasin.description}}">
            <h2 class="title">{{magasin.name}}</h2>
        </a>
    </div>
    {{/each}}
</div>