<div class="single">
    <div class="single__hero">
        <img src="/uploads/{{magasin.photo}}" alt="{{magasin.description}}"class="single__image">
        <h2 class="title title--single">
            {{magasin.name}}
        </h2>
    </div>
    <div class="single__details inner">
        <p class="single__location">
            {{magasin.description}}
        </p>
    </div>
</div>